.App {
  text-align: center;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  flex-wrap: wrap;
}

.fullComment {
  display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.newComment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}